.container {
    margin: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btnContainer,
.txtContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


.txtCenter {
    text-align: center;
}


#inputArea {
    width: calc(100vw - 10px);
    text-align: center;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 15px;
}

#inputArea:hover {
    border: 2px double rgb(37, 21, 21);
    box-shadow: 5px 5px 2px black;
    transform: translate(-5px);
}

.a_part {
    min-width: 300px;
    min-height: 325px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;
}

.preview {
    box-sizing: border-box;
    overflow: auto;
    max-width: 300px;
}

.a_part h1,
.txtContainer h2 {
    border-bottom: 2px solid rgb(46 54 51);
    border-radius: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

.txtContainer h2 {
    padding-bottom: 10px;
}

.inputArea_light {
    border: 2px solid black;
}

.a_part_light {
    border: 3px dotted rgb(37, 21, 21);
    background-color: azure;
}

.inputArea_dark {
    background-color: rgb(59, 59, 59);
    border: 2px solid rgb(87, 85, 85);
    color: azure;
}


.a_part_dark {
    background-color: rgb(21, 32, 32);
    border: 3px dotted rgb(87, 85, 85);
}