*{
  padding: 0px;
  margin: 0px;
}

.navbar ul{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  padding-right: 20px;
  background-color: black;
  border-bottom: 2px solid azure;

}
.navbar ul li{
  list-style: none;
  padding: 5px;
  color: azure;
}